<nav class="navbar bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tutor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{user.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <ul class="navbar-nav me-auto">
          {{#if user}}
            <li class="nav-item">
              <a class="nav-link" href="#">我的主頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">成為老師</a>
            </li>
          </ul>
          <hr>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <form action="/user/logout" method="post">
                <button type="submit" class="btn btn-link link-danger text-decoration-none border-0 px-0 py-2">Log Out</button>
              </form>
            </li>
          </ul>
          {{else}}
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/user/signin">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/signup">Sign Up</a>
            </li>
          </ul>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</nav>