<div class="col-12 col-lg-8">
  <div class="row">
    <div class="col-12 col-sm-6 profile-avatar-container mb-5 mx-auto mx-sm-0">
      <img src="https://loremflickr.com/320/240/parrot" alt="user avatar" class="img-fluid w-100 profile-avatar">
    </div>
    <div class="col-12 col-sm-6 flex-grow-1 mb-5">
      <h1 class="mb-5">{{targetUser.name}}</h1>
      <h5>Nation</h5>
      <h5 class="mb-5">Rating</h5>
      <a href="" class="d-lg-none text-decoration-none">前往預約上課</a>
    </div>
  </div>
  <div>
    <div>
      <h5>About Me</h5>
    </div>
    <div>
      <h5>Class Introduction</h5>
    </div>
    <div>
      <h5>Teaching Style</h5>
    </div>
    <div>
      <h5>Lesson History</h5>
    </div>
  </div>
</div>
<div class="col-4">
  <div class="d-none d-lg-block">
    <h5>預約上課</h5>
  </div>
</div>