<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/bootstraps/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/public/stylesheets/custom-styles.css">
  <script src="https://kit.fontawesome.com/ed363d82ac.js" crossorigin="anonymous"></script>
  <title>Tutor</title>
</head>

<body>
  {{> navbar}}
  {{> messages}}
  <main class="container-xxl my-container" role="main">
    {{{ body }}}
  </main>

  <script src="/public/bootstraps/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>