<section class="mt-5">
  <div class="row">
    {{#if targetUser}}
    {{> target-user-profile}}
    {{else}}
    <div class="col-lg-3">
      {{> my-profile/profile-avatar-and-personal-info}}
    </div>
    <div class="col-lg-9">
      {{#ifCondStrictEqual user.status 'student'}}
      {{> my-profile/profile-student-info}}
      {{/ifCondStrictEqual}}
      {{#ifCondStrictEqual user.status 'teacher'}}
      {{> my-profile/profile-teacher-info}}
      {{/ifCondStrictEqual}}
    </div>
    {{/if}}
  </div>
</section>