.mt-10 {
  margin-top: 128px;
}

.profile-avatar-container {
  max-width: 300px;
}

.profile-avatar {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.country-selector-container {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .profile-personal-info-container {
    max-width: 300px;
  }
}

@media screen and (min-width: 1400px) {
  /* .my-container {
    max-width: 1800px;
  } */
}