<section class="mt-5">
  <form action="/student/become-teacher/{{user.id}}" method="post">
    {{> teacher-form}}
    <div class="mb-3">
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </form>
</section>